<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="http://www.linkedin.com/in/ezequiel-daran-2240ba246"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://twitter.com/DaranEzequiel"><img src="../../../assets/twitter.png" id="twitter"></a>
            <a href="https://www.instagram.com/"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/ezequieldaran"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://es-la.facebook.com/ezequieldaran"><img src="../../../assets/facebook.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESIÓN</button>
        </div>
    </div>
</div>

